<!DOCTYPE html>
<html>
  <head>
    <title>QHelpDesk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div className="main-wrapper">
      <%= render 'layouts/navbar', user: current_user %>

      <div class="main">
        <div class="page-container">
          <%= yield %>
        </div>
      </div>

      <%= render 'layouts/flash', flash: flash %>

    </div>
    
    <%= render 'layouts/footer' %>
  </body>
</html>
